<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title style="color:white">Héctor Gallo | Diseñador Web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Chaoo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#gratis-png-macbook-air-mac-book-pro-laptop-macbook">
              <img src="/static/images/20210205_181029.jpg" alt="Héctor Gallo" class="profile-pic nav-link" />
              <span class="caption nav-link">Héctor Gallo</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Sobre mi</a>
          </li>
         
          <li class="nav-item">
            <a href="#projects" class="nav-link">Proyectos</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-snapchat-square"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-whatsapp"></i>
            </a>
          </li>
          
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Héctor Gallo</h2>
          <h3>{Diseñador Web}</h3>
          <p>HMTL-PYTHON-JAVASCRIPT-SQLSERVER</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Contáctame</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Proyectos</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/20210205_181029.jpg" alt="Chaoo Charles" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hello 😊🖥️💻</h2>
          <p>
            Mi nombre es Héctor Daniel Gallo Martínez. Mis estudios escolares fueron en el
            Colegio Cristiano Josué y tuve mi primer acercamiento con HTML. Al salir de el 
            colegio estudie en la Escuela Superior de Economia y Negocios y perfeccioné mis conocimientos
            en programación y bases de datos. 
          </p>
          <p>
            Con todo este conocimiento adquirido y la experiencia creando aplicaciones y páginas web,
            fui capaz de establecer mi primera compañía en servicios digitales en el año 2025. Soy una 
            persona muy dedicada y laboriosa que me encargo de que nuestros servicios se adepten perfectamente
            a la necesidad de nuestros clientes.
                   
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>AGILIZA LOS PROCESOS DE TU EMPRESA</h2>
          <p>
            Te ayudaré a lograr una mejor eficiencia en el manejo de datos y presentación de la empresa.
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-google" aria-hidden="true"></i>
            <h2>Paginas Web</h2>
            <p>
              Con una llamativa y funcional página web, podrás captar la atención de nuevos
              clientes y destacarás sobre tu competencia. Además, podras incorporar diversas
              funciones como la venta en línea y establecer contancto con los usuarios
            </p>
          </div>
          <div class="tier-item">
            <i class="fab fa-microsoft" aria-hidden="true"></i>
            <h2>Bases de Datos</h2>
            <p>
             ¿Cansado de tener todos los datos dispersos y nunca a tu alcance? Tengo la solución.
             Con mi amplia experiencia en SQLSERVER y MySql puedo crear una base de datos facil de manejar
             con la que siempre tendrás toda la información necesaria en el momento preciso.
             
            </p>
          </div>
          <!-- 
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>PROJECTS</h2>
        <p>Estos son algunos de mis mejores proyectos</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/1056135.png" />
        </div>
        <div class="project-description">
          <i class="fa fa-amazon" aria-hidden="true"></i>
          <h2>Base de Datos de Amazon</h2>
          <p>
            Utilizando SQLSERVER, creé una de las bases de datos más grandes del mundo,
            con información de más de 2 billones de clientes. Esta base de datos es sumamente eficiente y
            fácil de manejar, sobre todo con la aplicación de Python que hace más amigable su uso.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <i class="fab fa-gitter" aria-hidden="true"></i>
          <h2>Creador de Gráficos</h2>
          <p>
            Una herramiente simple, que recibiendo información digitada por el usuario o búscada en
            internet, presenta una gran variedad de gráficos convenientes que se apegan a la distribución 
            de datos. Cuenta con la opción de archivar los gráficos para futuras comprobaciones.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/descarga.png" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/196-1968880_arcade-game-imagenes-de-videojuegos-png.png" />
        </div>
        <div class="project-description">
          <i class="fab fa-playstation" aria-hidden="true"></i>
          <h2>Videojuego</h2>
          <p>
            Este videojugo lo cree pensando en la posibilidad de entretenerse y aprender. Cuenta con 
            125 niveles que tratan sobre diferentes temas, ya sea de geografía o matemáticas, y al contestar 
            correctamente obtienespuntos para adquirir nuevos personajes.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>Contáctame</h2>
      <p>
        No dudes en contactarme, será un privilegio atenderte y poder ayudarte con cualquier tema de diseño 
        web y programación.
      </p>
      <h2>Mis Redes Sociales</h2>
      <ol type=”B”>
        <li>Whatsapp : 2257-7777</li>
        <li>Facebook : Héctor Gallo</li>
        <li>Correo Electrónico: 17hgallo@gmail.com</li>
        
      </ol>
      
      <div class="container">
        <p>
          <a href="mailto:17hgallo@gmail.com"><i class="fas fa-envelope-open"></i> 17hgallo.com</a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-snapchat-square"> Snapchat</i></a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-facebook-square"> Facebook</i></a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-whatsapp"> Whatsapp</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Inicio</a>
        <a href="#about" class="footer-nav-link">Sobre mi</a>
        <a href="projects" class="footer-nav-link">Proyector</a>
        <a href="#contact" class="footer-nav-link">Contacto</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> Héctor Gallo; 2021
        </p>
        <p>Construido completamente con HTML, CSS y JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="#" target="_blank"><i class="fab fa-snapchat-square"></i></a>
        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>